client/src/main/resources/EventWS.wsdl

<?xml version='1.0' encoding='UTF-8'?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://www.polytech.unice.fr/si/4a/isa/event"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  name="EventServiceImplService" targetNamespace="http://www.polytech.unice.fr/si/4a/isa/event">
    <wsdl:types>
        <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://www.polytech.unice.fr/si/4a/isa/event"
                   elementFormDefault="unqualified" targetNamespace="http://www.polytech.unice.fr/si/4a/isa/event"
                   version="1.0">

            <xs:element name="submitNewEvent" type="tns:submitNewEvent"/>

            <xs:element name="submitNewEventResponse" type="tns:submitNewEventResponse"/>

            <xs:complexType name="submitNewEvent">
                <xs:sequence>
                    <xs:element minOccurs="0" name="event" type="tns:event"/>
                    <xs:element minOccurs="0" name="arg1" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="event">
                <xs:sequence>
                    <xs:element minOccurs="0" name="endingDate" type="xs:dateTime"/>
                    <xs:element name="id" type="xs:int"/>
                    <xs:element minOccurs="0" name="name" type="xs:string"/>
                    <xs:element name="nbAttendee" type="xs:int"/>
                    <xs:element minOccurs="0" name="organizer" type="tns:organizer"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="providers" nillable="true"
                                type="tns:provider"/>
                    <xs:element minOccurs="0" name="quote" type="tns:quote"/>
                    <xs:element minOccurs="0" name="startingDate" type="xs:dateTime"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="organizer">
                <xs:sequence>
                    <xs:element minOccurs="0" name="email" type="xs:string"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="events" nillable="true" type="tns:event"/>
                    <xs:element name="id" type="xs:int"/>
                    <xs:element name="loggedIn" type="xs:boolean"/>
                    <xs:element minOccurs="0" name="name" type="xs:string"/>
                    <xs:element minOccurs="0" name="password" type="xs:string"/>
                    <xs:element minOccurs="0" name="phone" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="provider">
                <xs:sequence>
                    <xs:element minOccurs="0" name="adress" type="xs:string"/>
                    <xs:element minOccurs="0" name="event" type="tns:event"/>
                    <xs:element name="id" type="xs:int"/>
                    <xs:element minOccurs="0" name="mail" type="xs:string"/>
                    <xs:element minOccurs="0" name="name" type="xs:string"/>
                    <xs:element minOccurs="0" name="phone" type="xs:string"/>
                    <xs:element name="price" type="xs:float"/>
                    <xs:element minOccurs="0" name="type" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="quote">
                <xs:sequence>
                    <xs:element minOccurs="0" name="description" type="xs:string"/>
                    <xs:element minOccurs="0" name="event" type="tns:event"/>
                    <xs:element name="id" type="xs:int"/>
                    <xs:element name="price" type="xs:float"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="submitNewEventResponse">
                <xs:sequence/>
            </xs:complexType>

        </xs:schema>
    </wsdl:types>
    <wsdl:message name="submitNewEventResponse">
        <wsdl:part element="tns:submitNewEventResponse" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="submitNewEvent">
        <wsdl:part element="tns:submitNewEvent" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:portType name="EventService">
        <wsdl:operation name="submitNewEvent">
            <wsdl:input message="tns:submitNewEvent" name="submitNewEvent">
            </wsdl:input>
            <wsdl:output message="tns:submitNewEventResponse" name="submitNewEventResponse">
            </wsdl:output>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="EventServiceImplServiceSoapBinding" type="tns:EventService">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="submitNewEvent">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="submitNewEvent">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="submitNewEventResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="EventServiceImplService">
        <wsdl:port binding="tns:EventServiceImplServiceSoapBinding" name="EventServiceImplPort">
            <soap:address location="http://localhost:8080/event/webservices/EventWS"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>