client/src/main/resources/ResponsibleWS.wsdl

<?xml version='1.0' encoding='UTF-8'?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:tns="http://www.polytech.unice.fr/si/4a/isa/responsible"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  name="ResponsibleServiceImplService"
                  targetNamespace="http://www.polytech.unice.fr/si/4a/isa/responsible">
    <wsdl:types>
        <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
                   xmlns:tns="http://www.polytech.unice.fr/si/4a/isa/responsible" attributeFormDefault="unqualified"
                   elementFormDefault="unqualified"
                   targetNamespace="http://www.polytech.unice.fr/si/4a/isa/responsible">
            <xs:element name="loginResponsible" type="tns:loginResponsible"/>
            <xs:element name="loginResponsibleResponse" type="tns:loginResponsibleResponse"/>
            <xs:element name="registerResponsible" type="tns:registerResponsible"/>
            <xs:element name="registerResponsibleResponse" type="tns:registerResponsibleResponse"/>
            <xs:complexType name="registerResponsible">
                <xs:sequence>
                    <xs:element minOccurs="0" name="responsible_name" type="xs:string"/>
                    <xs:element minOccurs="0" name="responsible_email" type="xs:string"/>
                    <xs:element minOccurs="0" name="responsible_password" type="xs:string"/>
                    <xs:element minOccurs="0" name="responsible_phone" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="registerResponsibleResponse">
                <xs:sequence/>
            </xs:complexType>
            <xs:complexType name="loginResponsible">
                <xs:sequence>
                    <xs:element minOccurs="0" name="responsible_email" type="xs:string"/>
                    <xs:element minOccurs="0" name="responsible_password" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="loginResponsibleResponse">
                <xs:sequence/>
            </xs:complexType>
            <xs:element name="AlreadyExistingResponsibleException" type="tns:AlreadyExistingResponsibleException"/>
            <xs:complexType name="AlreadyExistingResponsibleException">
                <xs:sequence>
                    <xs:element minOccurs="0" name="email" type="xs:string"/>
                    <xs:element minOccurs="0" name="message" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="AlreadyLoggedInResponsibleException" type="tns:AlreadyLoggedInResponsibleException"/>
            <xs:complexType name="AlreadyLoggedInResponsibleException">
                <xs:sequence>
                    <xs:element minOccurs="0" name="email" type="xs:string"/>
                    <xs:element minOccurs="0" name="message" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="UnknownResponsibleException" type="tns:UnknownResponsibleException"/>
            <xs:complexType name="UnknownResponsibleException">
                <xs:sequence>
                    <xs:element minOccurs="0" name="email" type="xs:string"/>
                    <xs:element minOccurs="0" name="message" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="AlreadyExistingResponsibleException">
        <wsdl:part element="tns:AlreadyExistingResponsibleException" name="AlreadyExistingResponsibleException">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="loginResponsible">
        <wsdl:part element="tns:loginResponsible" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="loginResponsibleResponse">
        <wsdl:part element="tns:loginResponsibleResponse" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="registerResponsible">
        <wsdl:part element="tns:registerResponsible" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="AlreadyLoggedInResponsibleException">
        <wsdl:part element="tns:AlreadyLoggedInResponsibleException" name="AlreadyLoggedInResponsibleException">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="UnknownResponsibleException">
        <wsdl:part element="tns:UnknownResponsibleException" name="UnknownResponsibleException">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="registerResponsibleResponse">
        <wsdl:part element="tns:registerResponsibleResponse" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:portType name="ResponsibleService">
        <wsdl:operation name="registerResponsible">
            <wsdl:input message="tns:registerResponsible" name="registerResponsible">
            </wsdl:input>
            <wsdl:output message="tns:registerResponsibleResponse" name="registerResponsibleResponse">
            </wsdl:output>
            <wsdl:fault message="tns:AlreadyExistingResponsibleException" name="AlreadyExistingResponsibleException">
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="loginResponsible">
            <wsdl:input message="tns:loginResponsible" name="loginResponsible">
            </wsdl:input>
            <wsdl:output message="tns:loginResponsibleResponse" name="loginResponsibleResponse">
            </wsdl:output>
            <wsdl:fault message="tns:AlreadyLoggedInResponsibleException" name="AlreadyLoggedInResponsibleException">
            </wsdl:fault>
            <wsdl:fault message="tns:UnknownResponsibleException" name="UnknownResponsibleException">
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="ResponsibleServiceImplServiceSoapBinding" type="tns:ResponsibleService">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="registerResponsible">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="registerResponsible">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="registerResponsibleResponse">
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="AlreadyExistingResponsibleException">
                <soap:fault name="AlreadyExistingResponsibleException" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="loginResponsible">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="loginResponsible">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="loginResponsibleResponse">
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="AlreadyLoggedInResponsibleException">
                <soap:fault name="AlreadyLoggedInResponsibleException" use="literal"/>
            </wsdl:fault>
            <wsdl:fault name="UnknownResponsibleException">
                <soap:fault name="UnknownResponsibleException" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="ResponsibleServiceImplService">
        <wsdl:port binding="tns:ResponsibleServiceImplServiceSoapBinding" name="ResponsibleServiceImplPort">
            <soap:address location="http://localhost:8080/event/webservices/ResponsibleWS"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>